
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.top-head {

    background-color: #0a0a49;
    box-sizing: border-box;
    border-bottom: 5px solid rgb(255, 187, 0);
}
.top-head h2{
    margin-block-start: 0;
    margin-block-end: 0em;
    color: aliceblue;
    text-align: center;
    padding: 25px;
}
.catgallery{
    display: flex;
    padding: 10px 10px 10px 10px;
    justify-content:center;
    align-items:center;
}
.allcat{
    display: flex;
    flex-wrap: wrap;
}
img{
    padding-left: 10px;
    padding-bottom: 10px;
    border-radius: 25px;
}
